<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <%= link_to 'Home', root_path, class: 'navbar-brand' %>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav">
        <li><%= link_to 'All posts', posts_path %></li>
        <% if user_signed_in? %>
          <li>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="glyphicon"></i> 
                <%= link_to edit_user_registration_path do %>
                  <%= current_user.name %>
                <% end %>
                Welcome!
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to 'New post', new_post_path %></li>
              <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to 'Login', new_user_session_path %></li>
          <li><%= link_to 'Signup', new_user_registration_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
