<div class="container card p-4" style="width: 20rem;">
  <%= form_with(model: post, local: true) do |form| %>
    <% if post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field form-group">
      <%= form.label :attachment %>
      <%= form.file_field :attachment, class: 'form-control', accept: 'audio/mpeg' %>
    </div>

    <div class="field form-group">
      <%= form.label :content %>
      <%= form.text_area :content, class: 'form-control' %>
    </div>

    <div class="actions form-group">
      <%= form.submit class: 'btn btn-success' %>
      <%= link_to 'Cancel', posts_path, class: 'btn btn-default' %>
    </div>
  <% end %>
</div>
