<div class="container card p-4 mb-4" style="width: 32rem;">
  <div class="col-md-12">
    <h3 class="post-author">
      <%= post.user.name %>
      <% if current_user.posts.include? post %>
        <%= link_to 'Edit', edit_post_path(post), class: 'btn btn-success' %>
        <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure'}, class: 'btn btn-danger' %>
      <% end %>
    </h3>
    <hr>
    <div class="post-content alert alert-info">
       <audio controls style="width: 100%;">
        <source src="<%= post.attachment.url %>">
      </audio> 
      <p><%= post.content %></p>
    </div>

    <div class="row">
      <div class="col-md-12">
        <%= render 'music_social_network/likes/form', likeable: post %>
        <span class="likeable-count-<%= post[:id] %>"><%= post.get_likes.size %></span>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-12">
        <h5>Comments</h5>
        <%= render 'music_social_network/comments/form', commentable: post %>
        <%= render post.comments %>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    window.addEventListener('DOMContentLoaded', function () {
      const post = {
        id: <%= post.id %>
      };

      App.register_like_stream(post);
      App.register_unlike_stream(post);
    });
  </script>
</div>
