<div class="row card p-4">
  <div class="col-md-12">
    <h3 class="post-author"><%= post.user.name %></h3>
    <hr>
    <p class="post-content alert alert-info"><%= post.content %></p>

    <div class="row">
      <div class="col-md-12">
        <%= render 'music_social_network/likes/form', likeable: post %>
        <%= pluralize(post.get_likes.size, 'like') %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h3>Comments</h3>
        <%= render 'music_social_network/comments/form', commentable: post %>
        <%= render post.comments %>
      </div>
    </div>
  </div>
</div>
