<div class="card p-4">
  <strong><%= @post.user.name %></strong>
  <hr>

  <%= @post.attachment %>
  <div class="alert alert-info">
    <%= @post.content %>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= render 'music_social_network/likes/form', likeable: @post %>
      <%= pluralize(@post.get_likes.size, 'like') %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h4>Comments</h4>
      <%= render 'music_social_network/comments/form', commentable: @post %>
      <%= render @post.comments %>
    </div>
  </div>
</div>
