<!DOCTYPE html>
<html>
  <head>
    <title>MusicSocialNetwork</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render 'shared/navbar' %>

    <div class="container mt-4 mb-4 flash">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>">
          <%= value %>
        </div>
      <% end %>

      <%= yield %>
    </div>
    
    <% if current_user.present? %>
      <script type="text/javascript">
        const current_user_id = <%= current_user[:id] %>;
      </script>
    <% end %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
